<?xml version="1.0"?>
<launch>
	<node pkg="zeabus_vision" name="auto_exposure_bottom" type="adjust_exposure_main_b.py" output="screen">
		<param name="cameraTopic" type='str' value='/bottom/left/image_raw/compressed'/>
		<param name="cameraManager" type='str' value='ueye_cam_nodelet_bottom_left/'/>
	</node>
</launch>